<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dino Run Run!!!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>Dino Run</h1>
        <canvas id="gameCanvas" width="800" height="200"></canvas>
        <div class="game-over-message" id="gameOverMessage">Game Over</div>
        <div class="button-container">
            <a id="restartButton" class="button" href="#">Начать заново</a>
        </div>
    </div>

    <script src="~/js/game.js"></script>
</body>
</html>
